@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.title {
  font-family: "Roboto condensed";
}

.display {
  font-family: "Roboto Slab";
}

input {
  font-family: "Roboto";
}


img{
  width: 300px;
  object-fit: cover;
}

*{
  font-size: 1em;
}

.cardImg{
  width: 50px;
}